@font-face {
    font-family: 'Ivy-Mode-Light';
    src: local('Ivy Mode Light'), local('../FONTS/Ivy-Mode-Light'),
        url('../FONTS/IvyMode-Light.woff2') format('woff2'),
        url('../FONTS/IvyMode-Light.woff') format('woff'),
        url('../FONTS/IvyMode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ivy-Mode-Thin';
    src: local('Ivy Mode Thin'), local('../FONTS/Ivy-Mode-Thin'),
        url('../FONTS/IvyMode-Thin.woff2') format('woff2'),
        url('../FONTS/IvyMode-Thin.woff') format('woff'),
        url('../FONTS/IvyMode-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'creattion-demo-regular';
    src: local('Lobster Regular'), local('../FONTS/creattion-demo.regular'),
        url('../FONTS/creattion-demo.regular.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RiotSquadNF';
    src: local('Lobster Regular'), local('../FONTS/RiotSquadNF'),
        url('../FONTS/RiotSquadNF.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Herbert-regular';
    src: local('Lobster Regular'), local('../FONTS/Herbert-regular'),
        url('../FONTS/Herbert-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: local('Lobster Regular'), local('../FONTS/AvenirNextLTPro-Bold'),
        url('../FONTS/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
  @import url('http://fonts.cdnfonts.com/css/domaine-sans-display'); 
  @import url('http://fonts.cdnfonts.com/css/cocomat');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  




  

  /* AboutMe Nav */
  .AboutMeNav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 9;
    bottom: 0;
    left: 0;
    background-color: #272727;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    display: none;
  }
  
  .AboutMeNav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .AboutMeNav a:hover {
    color: #f1f1f1;
  }
  
  .AboutMeNav .closebtn {
    cursor: pointer;
    position: fixed;
    width: 10px;
    top: 0%;
    right: 5%;
    z-index: 1000;
    font-size: 60px;
    margin-left: 50px;
  }


  /* Nav Collum */
  .Nav-IconWrapper-container,
  .Nav-collum-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
  }
  .Nav-Header-Text{
    font-family: "Domaine Sans Display";
    font-size: 3em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .Nav-Header-Content{
    font-family: "Domaine Sans Display";
    font-size: 1.5em; 
    letter-spacing: 0.1em;
    line-height: 125%;
    text-align: center;
    color: #fff;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  .Nav-name-box{
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(100, 100, 100);
    border-radius: 35px 10px 49px 15px;
    
    width: 3.8%;
    height: 3%;
    position: absolute;
    top: 56%;
    right: 20%;
    transform: translate(-50%,-50%) rotate(2.3deg);
    z-index: 15;
  }

  .Nav-name-text{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(-2.3deg);
  }

  .Nav-name-detail{
    white-space: pre; 
    font-size: 0.8em; 
    padding:  1.4em 0 0 1.7em; 
    line-height: 2em;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(-2.3deg);
  }



  .Nav-school-box{
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(100, 100, 100);
    border-radius: 35px 10px 49px 15px;
    
    width: 6%;
    height: 3%;
    position: absolute;
    top: 75%;
    right: 16.5%;
    transform: translate(-50%,-50%) rotate(-3deg);
    z-index: 15;
  }

  .Nav-school-text{
    white-space: pre;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(3deg);
  }

  .Nav-school-detail{
    white-space: pre;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(3deg);
    white-space: pre;
    font-size: 0.8em; 
    padding:  1.2em 0 0 1.7em; 
    line-height: 2em;
  }


  .Nav-age-box{
    background-color: rgb(100, 100, 100);
    border: 5px solid rgb(100, 100, 100);
    border-radius: 19px 10px 25px 13px;
    
    width: 3.5%;
    height: 3%;
    position: absolute;
    top: 95%;
    right: 20%;
    transform: translate(-50%,-50%) rotate(-2.5deg);
    z-index: 15;
  }

  .Nav-age-text{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(2.5deg);
  }

  .Nav-age-detail{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    margin-top: 0%;
    transform: rotate(2.5deg);
    white-space: pre; 
    font-size: 0.8em; 
    padding:  1.4em 0 0 1.7em; 
    line-height: 2em;
  }

      










  /* ICON */
  /* a {
    color: #222;
  } */
  .IconWrapper {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
  }
  .IconWrapper .icon {
    margin: 0px 0px 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .IconWrapper .icon span {
    display: block;
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .IconWrapper .icon span i {
    line-height: 5%;
    font-size: 20px;
  }
  .IconWrapper .icon:hover span {
    color: #fff;
  }
  .IconWrapper .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .IconWrapper .facebook:hover span{
    background: #3b5999;
  }
  .IconWrapper .instagram:hover span{
    background: #e13091;
  }
  .IconWrapper .github:hover span{
    background: rgb(122, 111, 111);
  }
  .IconWrapper .line:hover span{
    background: #72e067;
  }
  .IconWrapper .phone:hover span{
    background: #46c1f6;
  }





  
  .Nav-Skills-container{
    position: relative;
    width: 100%;
    height: 60%;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #e13091; */
  }

  .Nav-Skills-Box {
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .Nav-Skills-lineDecorate {
    width: 450%;
    height:3px;
    background-color: #ffffff;
    position: absolute;
    top: 57%;
    left: 315%;
    transform: translate(-50%,-50%);
    }   
  .Nav-Skills-lineDecorate-end{
    width: 80%;
    height:2.6px;
    background-color: #ffffff;
    position: absolute;
    top: 85%;
    left: 52.5%;
    transform: translate(-50%,-50%);
  }

    .Nav-Skills-Header{
        font-family: "Domaine Sans Display";
        font-size: 6em; 
        font-weight: 50px;
        letter-spacing: 0.07em;
        z-index: 6;
        color:rgb(255, 255, 255);
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-50%,-50%);
      }

  /* //SKills */
  .SkillsWrapper {
    /* display: inline-flex; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
  

  .SkillsWrapper .icon {
    margin: 60px 90px 0px 90px;
    text-align: center;
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 65px;
    width: 65px;
  }

  .SkillsWrapper .icon-position{
    width: 100%;
  }
  .SkillsText{
    white-space: pre;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 0.8em; 
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
  }

  /* //bounce */
  .fa {
    margin-top: 7px;
    width: 57px;
    display: block;
    text-align: center;
    color:#ffffff;
    font:normal 45px 'FontAwesome';
    line-height:60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .fa-angle-double-down:before {content: "\f107";}
  
  .bounce {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 60px;
    height: 60px ;
    margin-left:-30px;
    border: 2px solid #ffffff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
  }
   
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
  }
   
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
  }
   
  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }






  @media screen and (max-width: 1000px){
   
  }
  
  @media screen and (max-width: 767px){
    .AboutMeNav .closebtn {
      cursor: pointer;
      position: fixed;
      width: 10px;
      top: 0%;
      right: 10%;
      z-index: 1000;
      font-size: 60px;
      margin-left: 50px;
    }

    .Nav-Header-Text{
      font-size: 1.5em; 
      letter-spacing: 0;
      white-space: pre;
      top: 65%;
    }

    .Nav-Header-Content{
      font-size: 1em; 
      letter-spacing: 0;
      white-space: pre-wrap;
      width: 85%;
      top: 80%;
    }

    .Nav-name-box,
    .Nav-school-box,
    .Nav-age-box{
      display: none;
    }


    .Nav-IconWrapper-container{
      width: 100%;
      height: 20vh;
      position: relative;
    }

    .IconWrapper {
      display: inline-flex;
      flex-direction: row;
      position: absolute;
      top: 10%;
      left: 50%;
    }
    .IconWrapper .icon {
      margin: 0px 10px 0;
    }

    .Nav-Skills-lineDecorate {
      display: none;
      }   
    .Nav-Skills-lineDecorate-end{
      width: 80%;
      height:2.6px;
      background-color: #ffffff;
      position: absolute;
      top: 85%;
      left: 52.5%;
      transform: translate(-50%,-50%);
    }
  
    .Nav-Skills-Header{
        font-family: "Domaine Sans Display";
        font-size: 3em; 
        left: 50%;
        transform: translate(-50%,-50%);
      }

      .Nav-Skills-lineDecorate-end{
        top: 85%;
        left: 50%;
      }

      .SkillsWrapper {
        /* display: fle; */
        top: 250%;
      }


      .SkillsWrapper .icon {
        margin: 10px 20px 30px 20px;
        height: 25px;
        width: 25px; 
        text-align: center;
      }
      .SkillsText{
        white-space: normal;
        font-size: 0.05em; 
        letter-spacing: 0;
        position: absolute;
        top: 60%;
      }
  }